.item50 {
  width: 605px;
  overflow: scroll;
}


.padtop0 {
  padding-top: 0;
}

ul li ul {
  list-style-type: square;
}

.clock {
  font-size: 50pt;
  width: 200px;
  text-align: center;
  color: black;
  background-color: gray!important;
  background-image: none;
}

.clock.running {
  background-color: #8B0000!important;
  border: 3px solid black;
  color: white!important;
}

.scroll-300 {
  overflow-y: scroll;
  height: 300px;
}

.scroll-800 {
  overflow-y: scroll;
  height: 400px;
}

.scroll-900 {
  overflow-y: scroll;
  height: 550px;
}

pre {
  text-align: left;!important
}

.custom-list ul li li li:before {
  content: "";
}

.info-box {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.border-right {
  border-right: 2px solid black;
}

.circle-it {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    color: #666;
    text-align: center;

    font: 30px Arial, sans-serif;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 24px!important;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}
th {
  background-color: #006DAE!important;
  color: white!important;
}



.bg-orange {
  background-color: var(--color-orange)!important;
}

.bg-blue {
  background-color: var(--color-blue)!important;
}


.circle {
    border-radius: 50%;
    width: 50px;
    line-height: 50px;
    padding: 3px;
    display:inline-block;

    background: white;
    color: #006DAE;
    text-align: center;
    font-weight: bold;

}

.circle-big {
    border-radius: 50%;
    width: 100px;
    line-height: 100px;
    padding: 3px;
    display:inline-block;

    background: white;
    color: #006DAE;
    text-align: center;
    font-weight: bold;

}
